body{
  overflow: hidden;
}

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; 
    z-index:99999; 
    #circle{
        width:50px;
        height:50px;
        position:absolute;
        left:45%;
        top:45%;
        @include border-radius(50%);
        border-top:4px solid $blueColor;
       //  transition: all 0.3s ease;
       //  -webkit-animation: animate 1s infinite;
       //     -moz-animation: animate 1s infinite;
       //       -o-animation: animate 1s infinite;
       //          animation: animate 1s infinite;

       // @-webkit-keyframes animate {
       //  0%   { border-color: $blueColor white white white; }
       //  25% {border-color:$blueColor $blueColor white white;}
       //  50% {border-color:white $blueColor $blueColor white;}
       //  75% { border-color:white white $blueColor $blueColor; }
       //  100% { border-color:white white white $blueColor; }
       //  }
       //  @-moz-keyframes animate {
       //    0%   { border-color: $blueColor white white white; }
       //  25% {border-color:$blueColor $blueColor white white;}
       //  50% {border-color:white $blueColor $blueColor white;}
       //  75% { border-color:white white $blueColor $blueColor; }
       //  100% { border-color:white white white $blueColor; }
       //  }
       //  @-o-keyframes animate {
       //    0%   { border-color: $blueColor white white white; }
       //  25% {border-color:$blueColor $blueColor white white;}
       //  50% {border-color:white $blueColor $blueColor white;}
       //  75% { border-color:white white $blueColor $blueColor; }
       //  100% { border-color:white white white $blueColor; }
       //  }
       //  @keyframes animate {
       //   0%   { border-color: $blueColor white white white; }
       //  25% {border-color:$blueColor $blueColor white white;}
       //  50% {border-color:white $blueColor $blueColor white;}
       //  75% { border-color:white white $blueColor $blueColor; }
       //  100% { border-color:white white white $blueColor; }
       //  }
       
    }
}
